In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
df=pd.read_excel(r"Data Worksheet.xlsx")

In [3]:
df.head() #It will return top 5 rows

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.tail() #It will return bottom 5 rows

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [5]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [7]:
df.duplicated().sum()

0

# EDA (Exploratory Data Analysis)

In [8]:
df.info() #Displays the information such as datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

Outcome of df.info()
These columns "price, horsepower, peak-rpm, stroke, bore" should be numeric but there data type is object

In [9]:
fueltype = df['fueltype'].value_counts()
print(fueltype)

fueltype
gas       185
diesel     20
Name: count, dtype: int64

In [10]:
company=df['CarName'].value_counts()
print(company)

CarName
toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
mitsubishi mirage g4    3
                       ..
mazda glc 4             1
mazda rx2 coupe         1
maxda glc deluxe        1
maxda rx3               1
volvo 246               1
Name: count, Length: 147, dtype: int64

In [11]:
make_horsepower = df.groupby('CarName')['horsepower'].max()
print(make_horsepower)

CarName
Nissan versa                 69
alfa-romero Quadrifoglio    154
alfa-romero giulia          111
alfa-romero stelvio         111
audi 100 ls                 102
                           ...
volvo 246                   106
volvo 264gl                 162
volvo diesel                162
vw dasher                    90
vw rabbit                    90
Name: horsepower, Length: 147, dtype: int64

In [12]:
df.nunique()

car_ID              205
symboling             6
CarName             147
fueltype              2
aspiration            2
doornumber            2
carbody               5
drivewheel            3
enginelocation        2
wheelbase            53
carlength            75
carwidth             44
carheight            49
curbweight          171
enginetype            7
cylindernumber        7
enginesize           44
fuelsystem            8
boreratio            38
stroke               37
compressionratio     32
horsepower           59
peakrpm              23
citympg              29
highwaympg           30
price               189
dtype: int64

In [13]:
df.corr()

ValueError: could not convert string to float: 'alfa-romero giulia'

# Correlation's Insights
There's a strong positive correlation between car length and wheelbase (0.874587), suggesting that as car length increases, so does the wheelbase.
Similarly, there's a strong positive correlation between car width and car length (0.841118) and car width and wheelbase (0.795144), indicating that larger cars tend to have larger widths and lengths.
On the other hand, there's a negative correlation between symboling and most other attributes, implying that cars with higher risk ratings tend to have certain characteristics less frequently associated with lower risk ratings.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming df is your DataFrame containing the data
# Make sure 'price' is one of the columns in your DataFrame

# Compute the correlation matrix
correlation_matrix = df.corr()

# Plot the heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
# Plot histograms for numerical variables
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
for col in numerical_cols:
    plt.figure(figsize=(8, 6))
    plt.hist(df[col].dropna(), bins=20, edgecolor='black')
    plt.title(f'Histogram of {col}')
    plt.xlabel(col)
    plt.ylabel('Frequency')
    plt.show()

In [ ]:
# Plot bar plots for categorical variables
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    plt.figure(figsize=(8, 6))
    df[col].value_counts().plot(kind='bar')
    plt.title(f'Bar Plot of {col}')
    plt.xlabel(col)
    plt.ylabel('Frequency')
    plt.show()

In [ ]:
# Count plot for diesel and petrol engines
plt.figure(figsize=(8, 6))
sns.countplot(x='fueltype', data=df)
plt.title('Count Plot of Fuel Types')
plt.xlabel('Fuel Type')
plt.ylabel('Count')
plt.show()

In [ ]:
# Plot pair plots for numerical variables to visualize pairwise relationships
sns.pairplot(df[numerical_cols].dropna(), diag_kind='kde')
plt.suptitle('Pair Plot of Numerical Variables', y=1.02)
plt.show()

In [ ]:
# Plot box plots for numerical variables to identify outliers
plt.figure(figsize=(10,6))
sns.boxplot(data=df[numerical_cols])
plt.title('Box Plot of Numerical Variables')
plt.xlabel('Variables')
plt.ylabel('Values')
plt.xticks(rotation=45)
plt.show()

# Data Processing

In [ ]:
engine_type = df['enginetype'].value_counts()
print(engine_type)
#Here is an type typo it should be "dohc" but it mistakenly it is "dohcv"

In [ ]:
df['enginetype']=df['enginetype'].replace("dohcv","dohc")
#Here, we have replaced "dohcv" with "dohc"

In [ ]:
engine_type = df['enginetype'].value_counts()
print(engine_type)
#Now the typo has been fixed

In [ ]:
df['CarName'].replace("toyota corona", "toyota corolla", inplace=True)

In [ ]:
company=df['CarName'].value_counts()
print(company)

In [ ]:
df['CarName']

In [ ]:
# Find all occurrences of "?" in the entire dataset
question_marks = df[df == '?']

# Get the column-wise count of "?" occurrences
question_marks_count = question_marks.count()

# Locate which columns contain "?"
columns_with_question_marks = question_marks_count[question_marks_count > 0]

# Print the columns and their corresponding "?" counts
print(columns_with_question_marks)

In [ ]:
question_marks_count

In [ ]:
# Replace "?" with NaN
df.replace('?', np.nan, inplace=True)

# Convert columns to numeric (if not already)

df['boreratio'] = pd.to_numeric(df['boreratio'], errors='coerce')
df['stroke'] = pd.to_numeric(df['stroke'], errors='coerce')
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['peakrpm'] = pd.to_numeric(df['peakrpm'], errors='coerce')
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Replace NaN values with the mode (for categorical) or mean (for numerical)

df['boreratio'].fillna(df['boreratio'].mean(), inplace=True)
df['stroke'].fillna(df['stroke'].mean(), inplace=True)
df['horsepower'].fillna(df['horsepower'].mean(), inplace=True)
df['peakrpm'].fillna(df['peakrpm'].mean(), inplace=True)
df['price'].fillna(df['price'].mean(), inplace=True)

In [ ]:
# Find all occurrences of "?" in the entire dataset
question_marks = df[df == '?']

# Get the column-wise count of "?" occurrences
question_marks_count = question_marks.count()

# Locate which columns contain "?"
columns_with_question_marks = question_marks_count[question_marks_count > 0]

# Print the columns and their corresponding "?" counts
print(columns_with_question_marks)

In [ ]:
question_marks_count

In [ ]:
df.describe()

# Encoding

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
#pip install catboost

In [ ]:
#from catboost import CatBoostEncoder

# Sample DataFrame (replace this with your actual DataFrame)
# Assuming df is your DataFrame containing categorical columns
# Replace 'categorical_columns' with the actual names of your categorical columns
#categorical_columns = ['make', 'fueltype', 'aspiration', 'numofdoors', 'bodystyle', 'drivewheels', 'enginelocation', 'fuelsystem', 'enginetype', 'numofcylinders']

# Initialize CatBoostEncoder
#cb_encoder = CatBoostEncoder()

# Apply CatBoost encoding to each categorical column
#for column in categorical_columns:
    #df[column] = cb_encoder.fit_transform(df[column], df['column'])  # Replace 'target_column_name' with the name of your target column

# Now your categorical columns are encoded with frequency encoding using CatBoost

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Sample DataFrame (replace this with your actual DataFrame)
# Assuming df is your DataFrame containing categorical columns
# Replace 'categorical_columns' with the actual names of your categorical columns
categorical_columns = ['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem']
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to each categorical column
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])

# Now your categorical columns are encoded with numerical labels instead of one-hot encoding

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming df is your DataFrame containing the data
# Make sure 'price' is one of the columns in your DataFrame

# Compute the correlation matrix
correlation_matrix = df.corr()

# Plot the heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
columns_to_drop = ['symboling', 'car_ID', 'CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'enginelocation', 'carheight', 'enginetype', 'cylindernumber', 'stroke', 'compressionratio', 'peakrpm']
df.drop(columns=columns_to_drop, inplace=True)

In [ ]:
df.head()

In [ ]:
df.describe()

# Outlier Handling

In [ ]:
import numpy as np

# Calculate the first quartile (Q1)
Q1 = df['price'].quantile(0.25)

# Calculate the third quartile (Q3)
Q3 = df['price'].quantile(0.75)

# Calculate the interquartile range (IQR)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Replace outlier values with the bounds
df['price'] = np.where(df['price'] < lower_bound, lower_bound, df['price'])
df['price'] = np.where(df['price'] > upper_bound, upper_bound, df['price'])

In [ ]:
df.describe()

In [ ]:
df.describe()

# Feature Scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the data
df_normalized = scaler.fit_transform(df)

# Convert the normalized data back to a DataFrame
df_normalized = pd.DataFrame(df_normalized, columns=df.columns)

In [ ]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

# Assuming you have already split your data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Split data into features (X) and target variable (y)
X = df.drop(columns=['price'])  # Dropping the target column from the features
y = df['price']  # Assigning the target column to y

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Now you can use X_train, X_test, y_train, and y_test in your code


# Define the models
models = {
    'Linear Regression': LinearRegression(),
    'Ridge Regression': Ridge(),
    'Lasso Regression': Lasso(),
    'Random Forest': RandomForestRegressor(),
    'SVR': SVR()
}

# Define a pipeline with standard scaling and the model
pipeline = make_pipeline(StandardScaler(), None)

# Dictionary to store results
results = {}

# Evaluate each model
for name, model in models.items():
    pipeline.steps[1] = (name, model)  # Set the model in the pipeline
    cv_results = cross_validate(pipeline, X_train, y_train, cv=5, scoring=('neg_mean_squared_error', 'r2'), return_train_score=True)
    results[name] = {
        'Train MSE': -cv_results['train_neg_mean_squared_error'].mean(),
        'Test MSE': -cv_results['test_neg_mean_squared_error'].mean(),
        'Train R2 Score': cv_results['train_r2'].mean(),
        'Test R2 Score': cv_results['test_r2'].mean()
    }

# Print results
for name, metrics in results.items():
    print(f"Model: {name}")
    print(f"Train MSE: {metrics['Train MSE']}")
    print(f"Test MSE: {metrics['Test MSE']}")
    print(f"Train R2 Score: {metrics['Train R2 Score']}")
    print(f"Test R2 Score: {metrics['Test R2 Score']}")
    print("-" * 20)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Define the Random Forest model
rf = RandomForestRegressor()

# Define the hyperparameter grid to search
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Perform grid search with cross-validation
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_

# Train the model with the best hyperparameters
best_rf = RandomForestRegressor(**best_params)
best_rf.fit(X_train, y_train)

# Evaluate the model on both the training and test sets
train_predictions = best_rf.predict(X_train)
train_mse = mean_squared_error(y_train, train_predictions)
train_r2 = r2_score(y_train, train_predictions)

test_predictions = best_rf.predict(X_test)
test_mse = mean_squared_error(y_test, test_predictions)
test_r2 = r2_score(y_test, test_predictions)

print("Best Hyperparameters:", best_params)
print("Training MSE:", train_mse)
print("Training R2 Score:", train_r2)
print("Test MSE:", test_mse)
print("Test R2 Score:", test_r2)